venv/
__pycache__/
*.pyc
.env
instance/
*.sqlite
*.db
*.log
*.pyo
*.pyd
*.egg-info/
*.swp
*.tmp
*.orig
*.bak
.DS_Store
.coverage
.pytest_cache/
.tox/
.idea/
.vscode/
.sublime-project
.sublime-workspace
